page-home {

    .title{
        font-family: Sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 60px;
        color: #ff9933;
    }

    .buttoncenter {
        margin-top: 20px;
        display:inline-block;
        width:100%;
        font-weight:bold;
    }

    .img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

}
