page-conclusion {

    .title{
        font-family: Sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 30px;
        color: #000000;
    }

    .buttoncenter {
        margin-top: 80px;
        display:inline-block;
        width:100%;
        font-weight:bold;
    }

}
